<!-- Label to display any error messages -->
<label class="error-message">{{ errMessage }}</label>

<!-- Expansion panel to add new notes -->
<mat-expansion-panel class="keep-c-note-taker-expansion-panel">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Take a note
        </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="keep-c-note-taker-form">
        <mat-form-field>
            <input matInput [(ngModel)]="note.title" name="title"
                type="text" placeholder="Title">
        </mat-form-field>
        <mat-form-field>
            <textarea matInput [(ngModel)]="note.text" name="text"
                placeholder="Text"></textarea>
        </mat-form-field>
        <div class="keep-c-done-btn-wrapper">
            <button mat-button (click)="takeNote()">Done</button>
        </div>
    </div>
</mat-expansion-panel>